<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Data KTP Alvito</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>       
        <nav class="navbar navbar-expand-lg navbar-dark bg-info" th:fragment="navbar">
            <div class="container-fluid">
                <a href="/data" class="navbar-brand">Database KTP</a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav">
                        <a href="#" class="nav-item nav-link active">Beranda</a>
                        <a href="#" class="nav-item nav-link">Profil</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Informasi</a>
                            <div class="dropdown-menu">
                                <a href="#" class="dropdown-item">Hubungi Kami</a>
                                <a href="#" class="dropdown-item">Tentang Kami</a>
                                <a href="#" class="dropdown-item">FAQ</a>
                            </div>
                        </div>
                    </div>
                    <div class="navbar-nav">
                        <a href="#" class="nav-item nav-link">Login</a>
                    </div>
                </div>
            </div>
        </nav>
    </body>
</html>